.mainPane {
  position: absolute;
  right: 0px;
  width: 80%;
  height:80%;
  bottom: 0px;
  border: 3px solid #73AD21;
  padding: 8px;
  
}
a.links:link, a.links:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  position: relative;
  /*animation: Link-Anim infinite 1s linear;*/
}

a.links:hover, a.links:active {
  background-color: green;
  color: white;
}
@keyframes Link-Anim {
  from { 
    text-transform: uppercase;
  }

  to {
    text-transform: lowercase;
  }
}